html {
    scroll-behavior: smooth; 
}

body {
    font-family: 'Segoe UI', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(47, 71, 46);
    color: white;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 25px;
}
p {
  font-size: 30px; 
}
.header {
    border-radius: 25px;
    width: 60%;
    margin: 30px auto;
    background-color: rgba(105, 114, 85, 0.429);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}
.header h1 {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.title-icon {
    width: 100px;
    height: auto;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}

.plant {
    border-radius: 25px;
    background-color: rgba(105, 114, 85, 0.429);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 200px;
}

.plant-card {
    text-decoration: none; 
    color: inherit;
    transition: transform 0.2s ease;
}

.plant-card:hover {
    transform: translateY(-10px); 
}


img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 20px;
}

.divider {
    border: 0;
    height: 2px;
    background: rgba(255, 255, 255, 0.1);
    margin: 50px 0;
}

.details-container {
    width: 85%;
    margin: 0 auto;
}

.detail-section {
    padding: 60px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.species-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.species-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 20px;
    border-left: 5px solid #697255;
    min-width: 40%;
    margin: 20px;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    color: #aeb69c;
    text-decoration: none;
    font-size: 0.9em;
}

.back-link:hover {
    text-decoration: underline;
}