body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(32, 30, 30);
}

.header {
    display: flex;
    border-radius: 25px;
    justify-content: center;
    width: 80%;
    margin: 15px auto;
    background-color: rgb(55, 52, 52);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 15px;
    text-align: center;
}
.content {
    display: flex;
    border-radius: 25px;
    justify-content: center;
    width: 80%;
    margin: 15px auto;
    background-color: rgb(55, 52, 52);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 15px;
    text-align: center;
}